@import url(http://fonts.googleapis.com/css?family=Roboto);

@import '../bower_components/bootstrap/less/bootstrap';
@icon-font-path: '../bower_components/bootstrap/fonts/';

body {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}