<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinerico.pos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <service
            android:name=".network.config.ApiService"
            android:exported="false" />

        <activity
            android:name=".view.HomeActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AccountActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.ContributorActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.AccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.SignUpActivity" />
        </activity>
        <activity
            android:name=".view.StoreActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.ContributorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.ContributorActivity" />
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.WelcomeActivity"
            android:label="@string/appName" >
        </activity>
        <activity
            android:name=".view.ShopActivity"
            android:label="@string/title_activity_catalog" >
        </activity>
        <activity
            android:name=".view.CatalogActivity"
            android:label="@string/title_activity_catalog"
            android:parentActivityName=".view.ShopActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.ShopActivity" />
        </activity>
        <activity
            android:name=".view.CartActivity"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".view.ShopActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.ShopActivity" />
        </activity>
        <activity
            android:name=".view.CreateProductActivity"
            android:label="@string/title_activity_create_product"
            android:parentActivityName=".view.CatalogActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.CatalogActivity" />
        </activity>
    </application>

</manifest>
