<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinerico.pos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <service
            android:name=".network.config.ApiService"
            android:exported="false" />
        <service
            android:name=".network.config.FactoraApiService"
            android:exported="false" />

        <activity
            android:name=".view.HomeActivity"
            android:label="@string/appName"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AccountActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.ContributorActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.AccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.SignUpActivity" />
        </activity>
        <activity
            android:name=".view.StoreActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.ContributorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.ContributorActivity" />
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.WelcomeActivity"
            android:label="@string/appName" >
        </activity>
        <activity
            android:name=".view.ShopActivity"
            android:label="@string/appName"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".view.CatalogActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.ShopActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.ShopActivity" />
        </activity>
        <activity
            android:name=".view.CartActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.ShopActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.ShopActivity" />
        </activity>
        <activity
            android:name=".view.ProductActivity"
            android:label="@string/appName"
            android:parentActivityName=".view.CatalogActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.CatalogActivity" />
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".view.PaymentTypeActivity"
            android:label="$0.00" >
        </activity>
        <activity
            android:name=".view.EMPaymentActivity"
            android:label="$0.00"
            android:parentActivityName=".view.PaymentTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.PaymentTypeActivity" />
        </activity>
        <activity
            android:name=".view.RecieveMoneyActivity"
            android:label="$0.00"
            android:parentActivityName=".view.PaymentTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.PaymentTypeActivity" />
        </activity>
        <activity
            android:name=".view.SuccessfulSaleActivity"
            android:label="$0.00"
            android:parentActivityName=".view.EMPaymentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.CustomerDataEMActivity" />
        </activity>
        <activity
            android:name=".view.ReceiptActivity"
            android:parentActivityName=".view.SuccessfulSaleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.view.SuccessfulSaleActivity" />
        </activity>
        <activity
            android:name=".view.ReceiptSentActivity"
            android:parentActivityName=".view.ReceiptActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dinerico.pos.ReceiptActivity" />
        </activity>

        <activity
            android:theme="@style/NoActionBar"
            android:name=".view.SplashActivity">
        </activity>
        <activity
            android:name=".view.SuccessfulCashSaleActivity">
        </activity>
    </application>

</manifest>
